# Spring boot application
spring:
  application:
    name: hello-dubbo-service-user-consumer

server:
  port: 9090

# UserService service version
user:
  service:
    version: 1.0.0

# Dubbo Config properties
dubbo:
  scan:
    basePackages: com.czy.hello.dubbo.service.user.consumer.controller
  ## ApplicationConfig Bean
  application:
    id: hello-dubbo-service-user-consumer
    name: hello-dubbo-service-user-consumer
  ## RegistryConfig Bean
  registry:
    id: zookeeper
    address: zookeeper://47.92.238.208:2181?backup=47.92.238.208:2182,47.92.238.208:2183
  consumer:
    loadbalance: roundrobin
endpoints:
  dubbo:
    enabled: true

management:
  server:
    port: 9091
  health:
    dubbo:
      status:
        defaults: memory
  endpoint:
    dubbo:
      enabled: true
    dubbo-shutdown:
      enabled: true
    dubbo-configs:
      enabled: true
    dubbo-services:
      enabled: true
    dubbo-references:
      enabled: true
    dubbo-properties:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
